/* ===== 視認性改善 ===== */

/* ロケット行（買い） */
tr.buy input{
  color:#ffffff;
  font-weight:600;
}

/* 待機 */
tr.wait input{
  color:#e5e7eb;
}

/* 売り */
tr.sell input{
  color:#ffffff;
  font-weight:600;
}

/* 状態アイコン中央寄せ */
td.status{
  text-align:center;
  font-size:18px;
}
